@font-face {
  font-family: 'Rubik';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    local("Rubik"),
    url("../fonts/rubik/rubik-400.woff2") format("woff2"),
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:
    local("Rubik"),
    url("../fonts/rubik/rubik-700.woff2") format("woff2"),
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src:
    local("Raleway"),
    url("../fonts/raleway/raleway-800.woff2") format("woff2"),
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  width: 1280px;
  margin: 0 auto;
}
