@import '../variables.scss';

.header {
  width: 1160px;
  margin: 0 auto;
  position: relative;
  background-color: $yellow-light;

  &--grid {
    margin-top: 40px;
    padding-top: 44px;
  }

  &--catalog {
    padding-bottom: 22px;
  }
}

.header__logo {
  position: absolute;
  top: -23px;
  left: 60px;
}

.header__nav {
  margin: 0 60px;

  &--grid {
    margin-top: 30px;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  &:first-child {
    position: relative;
    margin-right: auto;
  }

  &:nth-child(2) {
    margin-right: 47px;
  }

  &:nth-child(3) {
    margin-right: 52px;
  }
}

.nav-list__item--active .nav-list__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  right: 0;
  background-color: $black;
}

.nav-list__item:first-child {
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    right: -58px;
    border: 2px solid rgb(0, 0, 0);
    opacity: 0.3;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 15px;
    right: -41px;
    background: url('../../images/decorative/cross.svg') no-repeat;
    opacity: 0.3;
  }
}

.nav-list__link {
  position: relative;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: $black;
  letter-spacing: 3px;
  display: block;
  padding: 13px 0;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px $yellow-light, 0 0 0 4px $purple;
  }
}

.nav-list__button {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: $black;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  display: block;
  padding: 15px 11px;
  background-color: transparent;
  border: none;
  padding-left: 0;
}
