@import '../variables.scss';

.header {
  width: 1160px;
  margin: 0 auto;
  position: relative;
  background-color: $yellow-light;

  &--grid {
    margin-top: 40px;
    padding-top: 44px;
  }

  &--catalog {
    padding-bottom: 22px;
  }
}

.header__logo {
  position: absolute;
  top: -23px;
  left: 60px;
}

.header__nav {
  margin: 0 60px;

  &--grid {
    margin-top: 30px;
  }
}
