@import '../variables.scss';

.search {
  display: flex;
}

.search-bar {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(0, 0, 0);
  padding: 8px 111px 8px 48px;
  border: 2px solid $black;
  border-radius: 50px 0px 0px 50px;
  background-color: transparent;

  &::placeholder {
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgb(0, 0, 0);
    opacity: 0.3;
  }

  &:focus-within {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }
}

.search__bar-wrapper {
  display: inline;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 17px;
    background: url('../../images/decorative/find.svg') no-repeat;
  }
}

.search-button {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(0, 0, 0);
  padding: 8px 54px 8.5px;
  border: 2px solid $black;
  border-radius: 0px 50px 50px 0px;
  border-left: 0;
  text-align: center;
  background-color: transparent;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &:active {
    background-color: $black;
    color: rgba($color: $white, $alpha: 0.3);
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }
}

