@import '../variables.scss';

.user-nav {
  position: relative;
  margin: 0 60px;
  color: $black;
  display: grid;
  grid-template-columns: 519px 494px;
  align-items: center;
  column-gap: 24px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.user-nav__wrapper {
  display: flex;
  flex-direction: row;
}

.user-nav__login-button, .user-nav__link {
  padding-left: 27px;
  background: url("../../images/decorative/cabinet.svg") no-repeat 0px center;
}

.user-nav__logged-in, .user-nav__login {
  display: none;

  &--active {
    display: block;
    margin-right: auto;
  }
}

.user-nav__link {
  margin-right: 28px;
  padding: 4px 0px;
  padding-left: 24px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
  text-decoration: none;

  &:hover {
    opacity: 0.2;
  }

  &:active {
    opacity: 0.1;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }
}

.user-nav__username {
  display: inline-block;
}

.user-nav__logout {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    opacity: 0.2;
  }

  &:active {
    opacity: 0.1;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }
}

.user-nav__login-button {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }
}

.user-nav__login {
  &--active {
    display: block;
    margin-right: auto;
  }
}

.user-nav__compare {
  position: relative;
  padding-left: 22px;
  background: url("../../images/decorative/compare.svg") 0 center no-repeat;
  color: #000;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }
}

.user-nav__basket-button {
  position: relative;
  margin-left: 18px;
  padding: 0;
  padding-left: 40px;
  border: none;
  background-color: transparent;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 14px;
    top: 6px;
    left: 16px;
    background: url("../../images/decorative/basket.svg") no-repeat;
  }
}

.user-nav__goods-quantity {
  position: absolute;
  top: 5px;
  left: 0px;
  min-width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgb(0, 0, 0);
}
