@import '../variables.scss';

.user-nav {
  position: relative;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $black;
  display: grid;
  grid-template-columns: 519px 494px;
  column-gap: 26px;
  align-items: center;
  margin: 0 60px;
}

.user-nav__wrapper {
  display: flex;
  flex-direction: row;
}

.user-nav__login-button, .user-nav__link {
  padding-left: 27px;
  background: url("../../images/decorative/cabinet.svg") no-repeat 0px center;
}

.user-nav__logged-in, .user-nav__login {
  display: none;

  &--active {
    display: block;
    margin-right: auto;
  }
}

.user-nav__username {
  display: inline-block;
  margin-right: 28px;
}

.user-nav__logout {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

.user-nav__login-button {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }
}

.user-nav__login {
  &--active {
    display: block;
    margin-right: auto;
  }
}

.user-nav__compare {
  position: relative;
  padding-left: 22px;
  color: #000;
  text-decoration: none;
  background: url("../../images/decorative/compare.svg") 0 center no-repeat;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }
}
