@import "../_variables.scss";

.about-us {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 84px;
    height: 7px;
    background-color: $black;
  }
}


.about-us__heading {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: rgb(0, 0, 0);
  margin-top: 47px;
  margin-bottom: 48px;
}

.about-us__text {
  margin-bottom: 30px;
}

.about-us__transport-companies {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.transport-companies__item {
  margin-left: 21px;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(0, 0, 0);

  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.transport-companies__item::marker {
  color: $yellow-hover;
}

.transport-companies__name {
  position: relative;
  left: 15px;
}

.about-us__link {
  padding: 10px 23px;
}
