@import "../_variables.scss";

.about-us {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 84px;
    height: 7px;
    left: 0px;
    top: 0px;
    background-color: $black;
  }
}


.about-us__heading {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: rgb(0, 0, 0);
  margin-top: 47px;
  margin-bottom: 48px;
}

.about-us__text {
  margin-bottom: 30px;
}

.about-us__transport-companies {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.transport-companies__item {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(0, 0, 0);
  margin-left: 21px;

  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.transport-companies__item::marker {
  color: $yellow-hover;
}

.transport-companies__name {
  position: relative;
  left: 15px;
}

.about-us__link {
  position: relative;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: rgb(0, 0, 0);
  display: inline-block;
  padding: 0 24px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    top: 6px;
    left: 0;
    background-color: $yellow-light;
    z-index: -1;
    transform: translateY(-50%);
  }
}
