@import "../_variables.scss";

.categories {
  width: 1160px;
}

.categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.categories-list__item:nth-child(2) .category__image {
  align-self: flex-end;
}

.categories-list__item:not(:last-child) {
  margin-right: 40px;
}

.category__link {
  width: 160px;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid $purple;
  }
}

.category__link:hover .category__image-wrapper{
  background-color: $yellow-hover;
}

.category__image-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: #ffe17f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category__name {
  height: 60px;
  display: block;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: $black;
}
