@import "../_variables.scss";

.main__delivery-button {
  position: relative;
  display: block;
  width: 1160px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 4px;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-bottom: 70px;
  padding: 38.5px 0;
  border: none;
  background-color: rgb(240, 240, 240);
  text-transform: uppercase;
  text-align: center;

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid rgb(175, 79, 255);
  }

  &::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 100px;
    left: 0;
    top: 0;
    background: $yellow-light url("../../images/decorative/delivery.svg") no-repeat center;
  }

  &::after {
    content: "i";
    position: absolute;
    width: 40px;
    height: 40px;
    right: 41px;
    top: 33px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 50%;
    text-transform: lowercase;
    opacity: 0.3;
  }
}

.main__delivery-button:hover {
  &::before {
    background-color: $yellow-hover;
  }

  &::after {
    opacity: 1;
  }
}
