@import "../_variables.scss";

.delievery {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;
  margin-bottom: 70px;
}

.delievery__heading {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0;
  margin-bottom: 70px;
  background-color: rgb(240, 240, 240);
  grid-column: 1/3;
}
