@import "../_variables.scss";

.features {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  background: linear-gradient($white 104px, $light 0px);
}

.features__wrapper {
  position: relative;
  width: 1160px;
  display: grid;
  grid-template-columns: 287px 448px;
  column-gap: 116px;
  margin: 0 auto;
  padding-bottom: 72px;


  &::before {
    content: "";
    position: absolute;
    background-color: $black;
    width: 7px;
    height: 319px;
    left: 281px;
    right: 0;
    top: 0px;
    bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 136px;
    height: 164px;
    right: 63px;
    top: 78px;
    background: url("../../images/decorative/mailman.svg") no-repeat;
  }

}

.features__list {
  margin: 0;
  margin-top: 64px;
  padding: 0;
  list-style-type: none;
}

.features-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.features-list__item--active {
  background-color: $black;
}

.features-list__item--active .features-list__button {
  color: $yellow-light;
  background-color: transparent;

  &::before {
    content: none;
  }

  &:hover {
   opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.features-list__button {
  min-width: 160px;
  padding: 9px 18px 11px;

}

.features__name {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-top: 73px;
  margin-bottom: 34px;
}

.features__description {
  margin: 0;
  margin-bottom: 73px;
}
