@import "../_variables.scss";

.goods {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.goods-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.goods-list__item:nth-child(2) .goods-list__link {
  align-items: flex-end;
}

.goods-list__item:not(:last-child) {
  margin-right: 40px;
}

.goods-list__link {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  background-color: #ffe17f;
}

.goods-list__name {
  display: block;
  height: 60px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: rgb(0, 0, 0);
}
