.main__delivery-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main__sections-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;
  margin-bottom: 74px;
}
