@import "../_variables.scss";

.product {
  position: relative;
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 107px;
  background: linear-gradient($yellow-light 134px, #fff 0);

  &::before {
    content: '01';
    position: absolute;
    width: 250px;
    height: 135px;
    top: 66px;
    right: 48px;
    font-family: Rubik;
    font-size: 180px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-align: right;
  }

}

.product__slogan {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
  color: $black;
  margin: 0;
  margin-bottom: 29px;
}

.product__link {
  padding: 10px 38px;
}

.product__description {
  margin: 0;
  margin-bottom: 51px;
}

.product__value {
  color: rgb(0, 0, 0);
  font-family: Rubik;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.product__quality {
  color: rgb(68, 68, 68);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.product__info {
  position: relative;
  display: none;

  &--active {
    display: block;
  }
}

.product__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.product__characteristics {
  display: flex;
  margin: 0;
  padding: 0;
}

.product__characteristics-wrapper {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.product__quality {
  order: 1;
}

.product__value {
  margin: 0;
  margin-bottom: 12px;
}
