@import "../_variables.scss";

.product {
  position: relative;
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 107px;
  background: linear-gradient($yellow-light 134px, #fff 0);

  &::before {
    content: '01';
    position: absolute;
    top: 64px;
    right: 48px;
    font-family: Rubik;
    font-size: 180px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-align: right;
  }
}

.product__slogan {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
  color: $black;
  margin: 0;
  margin-bottom: 29px;
}

.product__link {
  color: $black;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 4px;
  padding: 5px 36px;

  background: linear-gradient($white 5px, $yellow-light 50px, $white 5px);
  background: linear-gradient(#fff 14px, #ffe17f 0px), linear-gradient(#ffe17f 1px, #fff 14px);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.product__description {
  margin: 0;
  margin-bottom: 51px;
}

.product__value {
  color: rgb(0, 0, 0);
  font-family: Rubik;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.product__quality {
  color: rgb(68, 68, 68);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.product__info {
  position: relative;
}

.product__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 59px;
}

.product__characteristics {
  display: flex;
  margin: 0;
  padding: 0;
}

.product__characteristics-wrapper {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.product__quality {
  order: 1;
}

.product__value {
  margin: 0;
  margin-bottom: 12px;
}
