@import "../_variables.scss";

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -123px;
  margin-right: 40px;
}

.slider__button {
  position: absolute;
  width: 20px;
  height: 60px;
  top: 211px;
  border: none;
  background: url("../../images/decorative/pointer.svg") no-repeat;

  &--previous {
    left: 31px;
    transform: rotate(180deg);
  }

  &--next {
    right: 0;
  }
}

.slider-thumbs {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.slider-thumbs__item {
  width: 12px;
  height: 12px;
  border: 2px solid $black;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);

  &:not(:last-child) {
    margin-right: 20px;
  }

  &--active {
    background-color: rgb(0, 0, 0);
  }
}
