@import "../_variables.scss";


.subscription {
  width: 100%;

  background-color: $light;
}

.subscription__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 53px;
}

.subscription__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 144px;
}

.subscription__title {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: rgb(0, 0, 0);
  margin: 0;
  margin-right: 259px;
}

.subscription__text {
  margin: 0;
  margin-top: 10px;
}

.sub-form__bar {
  padding: 11px 376px 14px 16px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #C4C4C4;

  &::placeholder {
    color: rgb(68, 68, 68);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
}

.sub-form__button {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: rgb(0, 0, 0);
  margin-right: 208px;
  padding: 18px 39px;
  border: 3px solid rgb(206, 206, 206);
  text-align: center;
  text-transform: uppercase;
}
