.contacts {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 84px;
    height: 7px;
    background-color: $black;
  }
}

.contacts__heading {
  margin: 47px 0 48px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: $black;
}

.contacts__text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__store {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: $dark;
}

.contacts__store-location {
  margin: 0;
  color: $dark;
}

.contacts__store-phone {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: $dark;
  text-decoration: underline;
}

.contacts__working {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: $dark;
}

.contacts__working-time {
  margin: 0;
  margin-bottom: 40px;
}

.contacts__link {
  padding: 9.5px 33px;
}
