.main__product {
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 103px;
}

.main__categories {
  margin: 0 auto;
  margin-bottom: 70px;
}

.main__delivery-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.main__sections-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;
}
