.slider-thumbs {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.slider-thumbs__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.slider-thumbs__item--active .slider-thumbs__button {
  background-color: $black;
}

.slider-thumbs__item:has(.slider-thumbs__button:focus-visible) {
  outline-offset: 2px;
  outline: 2px solid $purple;
}

.slider-thumbs__button {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid $black;
  border-radius: 50%;
  background-color: $white;
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;
  }
}
