.about-us__transport-companies {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.transport-companies__item {
  margin-left: 21px;
  font-family: 'Rubik';
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: $black;

  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.transport-companies__item::marker {
  color: $yellow-hover;
}

.transport-companies__name {
  position: relative;
  left: 15px;
}
