@import '../variables.scss';

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox__legend {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(0, 0, 0);
  width: 100%;
  padding-top: 12px;
  margin-bottom: 20px;
  border-top: 2px solid rgb(0, 0, 0);
}

.checkbox__list__item {
  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.checkbox__label {
  position: relative;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(0, 0, 0);
  display: block;
  padding-left: 36px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}


.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox__input:focus-visible ~ .checkbox__checkmark {
  outline-offset: 2px;
  outline: 2px solid $purple;
}

.checkbox__checkmark {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 3px;
  background: none;
}

.checkbox__input:checked ~ .checkbox__checkmark {
  border: 2px solid rgb(0, 0, 0);
  background: url("../../images/decorative/checked.svg") no-repeat center;
}

.checkbox__input:disabled .checkbox__list__item {
  opacity: 0.1;
}

.checkbox__input:focus-visible .checkbox__checkmark {
  outline-offset: 2px;
  outline: 2px solid $purple;
}
