@import '../variables.scss';

.filter-section {
  grid-column: 1/2;
  margin-left: 60px;
}

.filter-section__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 59px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 3.5px;
  color: $black;
  text-transform: uppercase;
}

.filter__checkbox, .filter__radio {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border: none;
}

.filter__submit {
  padding: 10px 48px;
}
