@import '../variables.scss';


.pagination {
  margin: 0 40px;
  background-color: $grey-light;
  display: flex;
  align-items: center;
}

.pagination__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    outline-offset: 2px;
    outline: 2px solid $purple;
    opacity: 0;
  }
}

.pagination__item--active .pagination__link {
  opacity: 0.6;
}

.pagination__button {
  padding: 25px;
  display: block;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $grey;
  }

  &:active {
    color: rgba($color: #000000, $alpha: 0.3);
  }

  &:focus, &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid $purple;
  }

  &--previous {
    margin-right: auto;
  }

  &--next {
    margin-left: auto;
  }

  &--first-page,
  &--last-page {
    visibility: hidden;
  }
}

.pagination__link {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $dark;
  opacity: 0.3;
  text-align: center;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }

  &:focus-visible {
    outline: none;
  }
}

.pagination__item:has(.pagination__link:focus-visible) {
  &::before {
    opacity: 1;
  }
}
