@import '../variables.scss';

.radio__legend {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(0, 0, 0);
  width: 100%;
  padding-top: 12px;
  margin-bottom: 20px;
  border-top: 2px solid rgb(0, 0, 0);
}

.radio__label {
  position: relative;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(0, 0, 0);
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 36px;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid $purple;
  }
}

.radio__input:focus-visible ~ .radio__checkmark {
  outline-offset: 2px;
  outline: 2px solid $purple;
}

.radio__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.radio__checkmark {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 50%;

  &::before {
    content: "";
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    height: 8px;
    width: 8px;
    background-color: $black;
    border-radius: 50%;
  }
}

.radio__input:checked ~ .radio__checkmark {
  border: 2px solid rgb(0, 0, 0);
}

.radio__input:checked ~ .radio__checkmark::before {
  display: block;
}


