@import '../variables.scss';

.range {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 38px;
}

.range__legend {
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(0, 0, 0);
  width: 100%;
  padding-top: 12px;
  margin-bottom: 26px;
  border-top: 2px solid rgb(0, 0, 0);
}

.range__control {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 210px;
  margin-left: -11px;
}

.range__sliders {
  position: relative;
  margin-bottom: 13px;
}

.range__counters {
  display: flex;
}

.range__input::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  width: 18px;
  height: 18px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: $grey-light;
  cursor: pointer;

  &:hover {
    border: 2px solid $grey;
  }

  &:active {
    border: 2px solid rgb(0, 0, 0);
    background-color: $black;
  }
}

.range__input {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none;
  width: 100%;
  height: 2px;
  background-color: $black;

  &--from {
    height: 0;
    z-index: 1;
  }

  &--to {
    background: linear-gradient(to right, $black 60%, $grey 60%);
  }
}

.range__input:focus-visible {
  outline: none;

  &::-webkit-slider-thumb {
    box-shadow: 0px 0px 0 2px $white, 0px 0px 0 4px $purple;
  }
}

.range__name {
  font-family: Rubik;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  opacity: 0.3;

  &:first-child {
    margin-right: auto;
  }

  &:last-child {
    margin-right: 53px;
  }
}

