@import '../variables.scss';

.range {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  border: none;
}

.range__legend {
  width: 100%;
  margin-bottom: 26px;
  padding-top: 12px;
  border-top: 2px solid rgb(0, 0, 0);
  font-family: Rubik;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(0, 0, 0);
}

.range__slider {
  height: 2px;
  margin-left: -10px;
  background-color: $black;
  z-index: -1;
}

.range__slider-bar {
  height: 100%;
  display: flex;
  align-items: center;
}

.range__button {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: $grey-light;
  z-index: 1;

  &:hover {
    background-color: rgb(200, 200, 200);
  }

  &:active {
    opacity: 1;
    background-color: $black;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    width: 18px;
    height: 18px;
    outline: 2px solid $purple;
    outline-offset: 2px;
    opacity: 0;
  }
}

.range__button:focus-visible {
  outline: none;

  &::before {
    opacity: 1;
  }
}

.range__counters {
  margin-left: -10px;
  margin-top: 13px;
  display: flex;
}

.range__name {
  display: block;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  opacity: 0.3;

  &:first-child {
    margin-right: auto;
  }

  &:last-child {
    margin-right: 53px;
  }
}

