.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox__legend {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 12px;
  border-top: 2px solid $black;
  font-family: 'Rubik';
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: $black;
}

.checkbox__item {
  &:not(:last-child) {
    margin-bottom: 17px;
  }
}

.checkbox__label {
  position: relative;
  padding-left: 36px;
  display: block;
  font-family: 'Rubik';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $black;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.checkbox__input:focus-visible ~ .checkbox__checkmark::before {
  opacity: 1;
}

.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 3px;
  background: none;
  display: block;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    outline-offset: 4px;
    outline: 2px solid $purple;
    opacity: 0;
  }
}

.checkbox__input:checked ~ .checkbox__checkmark {
  border: 2px solid $black;
  background: url("../../images/decorative/checked.svg") no-repeat center;
}

.checkbox__input:disabled .checkbox__list__item {
  opacity: 0.1;
}

.checkbox__input:focus-visible .checkbox__checkmark {
  outline-offset: 2px;
  outline: 2px solid $purple;
}
