@charset "UTF-8";
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"), url("../fonts/rubik/rubik-400.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local("Rubik"), url("../fonts/rubik/rubik-700.woff2") format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
  src: local("Raleway"), url("../fonts/raleway/raleway-800.woff2") format("woff2");
}
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  border: none;
  background-color: transparent;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 0;
}
.button::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  transform: translateY(-50%);
  z-index: -1;
}
.button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.button--not-active {
  opacity: 0.3;
}

.button:hover {
  background-color: #ffe17f;
}
.button:hover::before {
  content: none;
}

.button:active {
  background-color: #ffc700;
}
.button:active::before {
  content: none;
}

.disabled {
  opacity: 0.3;
}

.header {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  background-color: #ffe17f;
}
.header--catalog {
  padding-bottom: 22px;
}

.page-body__header {
  margin-top: 40px;
  padding-top: 44px;
  padding-bottom: 5px;
}

.header__logo {
  position: absolute;
  top: -23px;
  left: 60px;
}

.header__user-nav {
  margin: 0 60px;
}

.header__nav {
  margin: 0 60px;
  margin-top: 30px;
}

.user-nav {
  position: relative;
  color: #000;
  display: grid;
  grid-template-columns: 519px 494px;
  align-items: center;
  column-gap: 24px;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.user-nav__wrapper {
  display: flex;
  flex-direction: row;
}

.user-nav__login-button, .user-nav__link {
  padding-left: 27px;
  background: url("../../images/decorative/cabinet.svg") no-repeat 0px center;
}

.user-nav__logged-in, .user-nav__login {
  display: none;
}
.user-nav__logged-in--active, .user-nav__login--active {
  display: block;
  margin-right: auto;
}

.user-nav__link {
  margin-right: 28px;
  padding: 4px 0px;
  padding-left: 24px;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
  text-decoration: none;
}
.user-nav__link:hover {
  opacity: 0.2;
}
.user-nav__link:active {
  opacity: 0.1;
}
.user-nav__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.user-nav__username {
  display: inline-block;
}

.user-nav__logout {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
}
.user-nav__logout:hover {
  opacity: 0.2;
}
.user-nav__logout:active {
  opacity: 0.1;
}
.user-nav__logout:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.user-nav__login-button {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
  text-decoration: none;
}
.user-nav__login-button:hover {
  opacity: 0.6;
}
.user-nav__login-button:active {
  opacity: 0.3;
}
.user-nav__login-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.user-nav__login--active {
  display: block;
  margin-right: auto;
}

.user-nav__compare {
  position: relative;
  padding-left: 22px;
  background: url("../../images/decorative/compare.svg") 0 center no-repeat;
  color: #000;
  text-decoration: none;
}
.user-nav__compare:hover {
  opacity: 0.6;
}
.user-nav__compare:active {
  opacity: 0.3;
}
.user-nav__compare:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.user-nav__basket-button {
  position: relative;
  margin-left: 18px;
  padding: 0;
  padding-left: 40px;
  border: none;
  background-color: transparent;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
  text-decoration: none;
}
.user-nav__basket-button:hover {
  opacity: 0.6;
}
.user-nav__basket-button:active {
  opacity: 0.3;
}
.user-nav__basket-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.user-nav__basket-button::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  top: 6px;
  left: 16px;
  background: url("../../images/decorative/basket.svg") no-repeat;
}

.user-nav__goods-quantity {
  position: absolute;
  top: 5px;
  left: 0px;
  min-width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #000;
}

.search {
  display: flex;
}

.search-bar {
  padding: 8px 120px 8px 43px;
  border: 2px solid #000;
  border-radius: 50px 0px 0px 50px;
  background-color: transparent;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}
.search-bar::placeholder {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  opacity: 0.3;
}
.search-bar:focus-within {
  outline: none;
}

.search__bar-wrapper:has(.search-bar:focus-within) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.search__bar-wrapper {
  position: relative;
  display: inline;
}
.search__bar-wrapper::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 16px;
  height: 16px;
  background: url("../../images/decorative/find.svg") no-repeat;
}

.search-button {
  position: relative;
  padding: 8px 54px 8.5px;
  border: 2px solid #000;
  border-radius: 0px 50px 50px 0px;
  border-left: 0;
  background-color: transparent;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  text-align: center;
}
.search-button:hover {
  background-color: #000;
  color: #fff;
}
.search-button:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
}
.search-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  outline-offset: 4px;
  outline: 2px solid #af4fff;
  opacity: 0;
}

.search-button:focus-visible {
  outline: none;
}
.search-button:focus-visible::before {
  opacity: 1;
}

.basket {
  position: absolute;
  top: 36px;
  right: -60px;
  width: 320px;
  display: none;
  z-index: 1;
}
.basket--active {
  display: block;
}
.basket::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 153px;
  width: 14px;
  height: 6px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #000;
}

.basket__content {
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.basket-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.basket-item {
  position: relative;
  display: flex;
  margin: 20px;
}
.basket-item:hover {
  opacity: 0.6;
}
.basket-item:active {
  opacity: 0.3;
}
.basket-item:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.basket-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 320px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

.basket-item__name {
  margin: 0;
  margin-left: 23px;
  margin-right: auto;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.basket-item__close-button {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.basket-item__close-button:hover {
  opacity: 0.6;
}
.basket-item__close-button:active {
  opacity: 0.3;
}
.basket-item__close-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.basket-item__close-button::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
}
.basket-item__close-button::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 1px;
  background-color: #fff;
  transform: rotate(-45deg);
}

.basket__wrapper {
  padding: 0px 20px;
  background-color: #1A1A1A;
  display: flex;
}

.basket__goods-quantity,
.basket__total-cost {
  padding: 12px 0;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.basket__goods-quantity {
  margin-right: auto;
}

.basket__open-button {
  margin: 20px auto;
  padding: 14.5px 24px;
  border: none;
  background-color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.basket__open-button:hover {
  background-color: #ffe17f;
}
.basket__open-button:active {
  background-color: #ffe17f;
  opacity: 0.6;
}
.basket__open-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.basket__open-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list__item:nth-child(2) {
  margin-right: 47px;
}
.nav-list__item:nth-child(3) {
  margin-right: 52px;
}

.nav-list__item--active .nav-list__link::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.nav-list__link {
  position: relative;
  display: block;
  padding: 13px 0;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-list__link:hover {
  opacity: 0.6;
}
.nav-list__link:active {
  opacity: 0.3;
}
.nav-list__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f, 0 0 0 4px #af4fff;
}

.dropdown {
  margin-right: auto;
}
.dropdown--active {
  display: block;
}

.dropdown--active .dropdown__wrapper {
  display: flex;
}

.dropdown--active .dropdown__list {
  display: block;
}

.dropdown--active .dropdown-button::after {
  width: 16px;
  height: 2px;
  top: 23px;
  background: #000;
}

.dropdown-button {
  position: relative;
  display: block;
  padding: 15px 69px;
  padding-left: 0;
  border: none;
  background-color: transparent;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: #000;
  text-transform: uppercase;
}
.dropdown-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.dropdown-button::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  opacity: 0.3;
}
.dropdown-button::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 17px;
  width: 16px;
  height: 16px;
  background: url("../../images/decorative/cross.svg") no-repeat;
  opacity: 0.3;
}

.dropdown-button:hover::before, .dropdown-button:active::before {
  opacity: 1;
}
.dropdown-button:hover::after, .dropdown-button:active::after {
  opacity: 1;
}

.dropdown__wrapper {
  padding: 30px 0;
  display: none;
}

.dropdown__list:not(:last-child) {
  margin-right: 40px;
}

.dropdown-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.dropdown-list__item--active .dropdown-list__link {
  border-bottom: 1px solid #000;
}

.dropdown__list {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
}

.dropdown-list__link {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  text-decoration: none;
}
.dropdown-list__link:hover {
  opacity: 0.6;
}
.dropdown-list__link:active {
  opacity: 0.3;
}
.dropdown-list__link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #ffe17f, 0 0 0 4px #af4fff;
}

.main__product {
  margin: 0 auto;
  margin-top: -1px;
  margin-bottom: 70px;
  padding-top: 103px;
}

.main__categories {
  margin: 0 auto;
  margin-bottom: 70px;
}

.main__delivery-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.main__sections-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 74px;
  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;
}

.main__delivery-button {
  position: relative;
  width: 1160px;
  margin: 0;
  padding: 38.5px 0;
  border: none;
  background-color: rgb(240, 240, 240);
  display: block;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 4px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.main__delivery-button:active {
  opacity: 0.3;
}
.main__delivery-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.main__delivery-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 125px;
  height: 100px;
  background: #ffe17f url("../../images/decorative/delivery.svg") no-repeat center;
}
.main__delivery-button::after {
  content: "i";
  position: absolute;
  right: 41px;
  top: 33px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: lowercase;
  opacity: 0.3;
}

.main__delivery-button:hover::before {
  background-color: #ffc700;
}
.main__delivery-button:hover::after {
  opacity: 1;
}

.product {
  position: relative;
  width: 1160px;
  background: linear-gradient(180deg, #ffe17f 130px, #fff 131px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product__slider {
  margin-top: -123px;
  margin-right: 40px;
}

.product__number {
  position: absolute;
  top: 61px;
  right: 48px;
  width: 250px;
  height: 135px;
  font-family: "Rubik";
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-align: right;
}

.product__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: left;
  color: #000;
}

.product__link {
  padding: 10px 38px;
}

.product__description {
  margin: 0;
  margin-bottom: 51px;
}

.product__value {
  font-family: "Rubik";
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}

.product__quality {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.product__info {
  position: relative;
  display: none;
}
.product__info--active {
  display: block;
}

.product__wrapper {
  margin-bottom: 49px;
  display: flex;
  align-items: center;
}

.product__characteristics {
  margin: 0;
  padding: 0;
  display: flex;
}

.product__characteristics-wrapper {
  display: flex;
  flex-direction: column;
}
.product__characteristics-wrapper:not(:last-child) {
  margin-right: 20px;
}

.product__quality {
  order: 1;
}

.product__value {
  margin: 0;
  margin-bottom: 12px;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider__button {
  position: absolute;
  top: 211px;
  width: 20px;
  height: 60px;
  border: none;
  background: url("../../images/decorative/pointer.svg") no-repeat;
  cursor: pointer;
}
.slider__button:hover {
  opacity: 0.6;
}
.slider__button:active {
  opacity: 0.3;
}
.slider__button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.slider__button--previous {
  left: 30px;
  transform: rotate(180deg);
}
.slider__button--next {
  right: 0;
}

.slider-thumbs {
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.slider-thumbs__item:not(:last-child) {
  margin-right: 20px;
}

.slider-thumbs__item--active .slider-thumbs__button {
  background-color: #000;
}

.slider-thumbs__item:has(.slider-thumbs__button:focus-visible) {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.slider-thumbs__button {
  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
  display: block;
}
.slider-thumbs__button:hover {
  opacity: 0.6;
}
.slider-thumbs__button:active {
  opacity: 0.3;
}
.slider-thumbs__button:disabled {
  opacity: 0.1;
}

.categories {
  width: 1160px;
}

.categories-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.categories-list__item:nth-child(2) .category__image {
  align-self: flex-end;
}

.categories-list__item:not(:last-child) {
  margin-right: 40px;
}

.category__link {
  width: 160px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.category__link:active {
  opacity: 0.3;
}
.category__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.category__link:hover .category__image-wrapper {
  background-color: #ffc700;
}

.category__image-wrapper {
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: #ffe17f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category__name {
  height: 60px;
  display: block;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #000;
}

.features {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(#fff 104px, #f0f0f0 0px);
}

.main__features {
  margin-bottom: 70px;
}

.features__wrapper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 72px;
  display: grid;
  grid-template-columns: 287px 475px;
  column-gap: 116px;
}
.features__wrapper::before {
  content: "";
  position: absolute;
  left: 281px;
  right: 0;
  top: 0px;
  bottom: 0;
  width: 7px;
  height: 319px;
  background-color: #000;
}

.features__list {
  margin: 0;
  margin-top: 64px;
  padding: 0;
  list-style-type: none;
}

.features-list__item:not(:last-child) {
  margin-bottom: 35px;
}

.features-list__item--active {
  background-color: #000;
}

.features-list__item--active .features-list__button {
  color: #ffe17f;
  background-color: transparent;
}
.features-list__item--active .features-list__button::before {
  content: none;
}
.features-list__item--active .features-list__button:hover {
  opacity: 0.6;
}
.features-list__item--active .features-list__button:active {
  opacity: 0.3;
}

.features-list__button {
  min-width: 160px;
  padding: 9px 18px 11px;
}

.feature {
  position: relative;
  display: none;
}
.feature--active {
  display: block;
}

.feature--delivery::after {
  content: "";
  position: absolute;
  top: 79px;
  right: 62px;
  width: 136px;
  height: 164px;
  background: url("../../images/decorative/mailman.svg") no-repeat;
}

.feature--warranty::after {
  content: "";
  position: absolute;
  top: 78px;
  right: -219px;
  width: 171px;
  height: 195px;
  background: url("../../images/decorative/warranty.svg") no-repeat;
}

.feature--credit::after {
  content: "";
  position: absolute;
  top: 78px;
  right: -219px;
  width: 156px;
  height: 188px;
  background: url("../../images/decorative/credit.svg") no-repeat;
}

.feature__name {
  margin: 0;
  margin-top: 73px;
  margin-bottom: 34px;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000;
}

.feature__description {
  margin: 0;
  margin-bottom: 73px;
}

.about-us {
  position: relative;
}
.about-us::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 84px;
  height: 7px;
  background-color: #000;
}

.about-us__heading {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000;
  margin-top: 47px;
  margin-bottom: 48px;
}

.about-us__text {
  margin-bottom: 30px;
}

.about-us__link {
  padding: 10px 23px;
}

.about-us__transport-companies {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.transport-companies__item {
  margin-left: 21px;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}
.transport-companies__item:not(:last-child) {
  margin-bottom: 19px;
}

.transport-companies__item::marker {
  color: #ffc700;
}

.transport-companies__name {
  position: relative;
  left: 15px;
}

.contacts {
  position: relative;
}
.contacts::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 84px;
  height: 7px;
  background-color: #000;
}

.contacts__heading {
  margin: 47px 0;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000;
}

.contacts__text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__store {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Rubik";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
}

.contacts__store-location {
  margin: 0;
  color: #444444;
}

.contacts__store-phone {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  text-decoration: underline;
}

.contacts__working {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "Rubik";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #444444;
}

.contacts__working-time {
  margin: 0;
  margin-bottom: 40px;
}

.contacts__link {
  padding: 9.5px 33px;
}

.subscription {
  width: 100%;
  background-color: #f0f0f0;
}

.subscription__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 55px;
}

.subscription__container {
  margin-bottom: 144px;
  display: flex;
  flex-direction: row;
}

.subscription__title {
  margin: 0;
  margin-right: 252px;
  margin-left: 7px;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000;
}

.subscription__text {
  margin: 0;
  margin-top: 10px;
}

.sub-form {
  display: flex;
}

.sub-form__bar {
  height: 55px;
  padding: 14px 323px 14px 16px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: transparent;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}
.sub-form__bar::placeholder {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}
.sub-form__bar:focus {
  background: #C4C4C4;
  opacity: 0.5;
}
.sub-form__bar--error {
  border-color: #ff3d3d;
}
.sub-form__bar:disabled {
  opacity: 0.3;
}

.sub-form__button {
  padding: 14px 35px;
  border: 3px solid rgb(206, 206, 206);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}
.sub-form__button:hover {
  border: 3px solid #000;
}
.sub-form__button:active {
  border: 3px solid #000;
  opacity: 0.3;
}
.sub-form__button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.sub-form__button--not-active {
  border: 3px solid rgb(229, 229, 229);
  opacity: 0.3;
}

.sub-form__info {
  position: relative;
  margin-left: auto;
  align-self: center;
}
.sub-form__info::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -31px;
  width: 14px;
  height: 14px;
  background: url("../../images/decorative/checked-green.svg") no-repeat;
}

.catalog {
  margin-top: 36px;
}

.catalog__wrapper {
  width: 1160px;
  margin: 0 auto;
}

.catalog__name {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 14px;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000;
}

.catalog__container {
  width: 100%;
  background-color: #f0f0f0;
}

.catalog__inner-container {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 260px 840px;
  column-gap: 60px;
}

.breadcrumbs-list {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 35px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.breadcrumbs-list__item {
  position: relative;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
  letter-spacing: 0%;
}

.breadcrumbs-list__item:not(:last-child) {
  margin-right: 38px;
}
.breadcrumbs-list__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 5px;
  right: -23px;
  background: url("../../images/decorative/nav-arrow.svg") no-repeat;
  opacity: 0.3;
}

.breadcrumbs-list__link {
  color: #000;
  text-decoration: none;
}
.breadcrumbs-list__link:hover {
  opacity: 0.6;
}
.breadcrumbs-list__link:active {
  opacity: 0.3;
}
.breadcrumbs-list__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.breadcrumbs-list__item--active .breadcrumbs-list__link:hover {
  opacity: 1;
}
.breadcrumbs-list__item--active .breadcrumbs-list__link:active {
  opacity: 1;
}

.filter-section {
  grid-column: 1/2;
  margin-left: 60px;
}

.filter-section__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 59px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 3.5px;
  color: #000;
  text-transform: uppercase;
}

.filter__checkbox, .filter__radio {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  border: none;
}

.filter__submit {
  padding: 10px 48px;
}

.range {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  border: none;
}

.range__legend {
  width: 100%;
  margin-bottom: 26px;
  padding-top: 12px;
  border-top: 2px solid #000;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.range__slider {
  height: 2px;
  margin-left: -10px;
  background-color: #000;
  z-index: -1;
}

.range__slider-bar {
  height: 100%;
  display: flex;
  align-items: center;
}

.range__button {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #ebebeb;
  z-index: 1;
}
.range__button:hover {
  background-color: rgb(200, 200, 200);
}
.range__button:active {
  opacity: 1;
  background-color: #000;
}
.range__button::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  width: 18px;
  height: 18px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  opacity: 0;
}

.range__button:focus-visible {
  outline: none;
}
.range__button:focus-visible::before {
  opacity: 1;
}

.range__counters {
  margin-left: -10px;
  margin-top: 13px;
  display: flex;
}

.range__name {
  display: block;
  font-family: "Rubik";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  text-align: center;
  opacity: 0.3;
}
.range__name:first-child {
  margin-right: auto;
}
.range__name:last-child {
  margin-right: 53px;
}

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox__legend {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 12px;
  border-top: 2px solid #000;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.checkbox__list__item:not(:last-child) {
  margin-bottom: 17px;
}

.checkbox__label {
  position: relative;
  padding-left: 36px;
  display: block;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.checkbox__label:hover {
  opacity: 0.6;
}
.checkbox__label:active {
  opacity: 0.3;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.checkbox__input:focus-visible ~ .checkbox__checkmark::before {
  opacity: 1;
}

.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 3px;
  background: none;
  display: block;
}
.checkbox__checkmark::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  outline-offset: 4px;
  outline: 2px solid #af4fff;
  opacity: 0;
}

.checkbox__input:checked ~ .checkbox__checkmark {
  border: 2px solid #000;
  background: url("../../images/decorative/checked.svg") no-repeat center;
}

.checkbox__input:disabled .checkbox__list__item {
  opacity: 0.1;
}

.checkbox__input:focus-visible .checkbox__checkmark {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.radio__legend {
  width: 100%;
  padding-top: 12px;
  margin-bottom: 20px;
  border-top: 2px solid #000;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.radio__label {
  position: relative;
  display: block;
  padding-left: 36px;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.radio__label:not(:last-child) {
  margin-bottom: 20px;
}
.radio__label:hover {
  opacity: 0.6;
}
.radio__label:active {
  opacity: 0.3;
}
.radio__label:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.radio__input:focus-visible ~ .radio__checkmark::after {
  opacity: 1;
}

.radio__input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.radio__checkmark {
  position: absolute;
  top: 0;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 50%;
  display: block;
}
.radio__checkmark::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
  display: none;
}
.radio__checkmark::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  outline-offset: 4px;
  outline: 2px solid #af4fff;
  opacity: 0;
}

.radio__input:checked ~ .radio__checkmark {
  border: 2px solid #000;
}

.radio__input:checked ~ .radio__checkmark::before {
  display: block;
}

.catalog-products {
  padding-bottom: 72px;
  background-color: #fff;
  grid-column: 2/3;
}

.catalog-products__list {
  margin-bottom: 44px;
  padding: 70px 40px 0px 40px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
}

.catalog-product__button {
  min-width: 760px;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 17px 39px;
  border: 3px solid rgb(229, 229, 229);
  background-color: transparent;
  display: block;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 3.5px;
  color: #000;
  text-transform: uppercase;
}
.catalog-product__button:hover {
  border: 3px solid #000;
}
.catalog-product__button:active {
  border: 3px solid #000;
  opacity: 0.3;
}
.catalog-product__button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.catalog-product__button--not-active {
  border: 3px solid rgb(229, 229, 229);
  opacity: 0.3;
}

.sort {
  padding: 20px 40px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}

.sort__label {
  margin: 0;
  margin-right: 185px;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 3.5px;
  color: #000;
  text-transform: uppercase;
}

.sort__menu {
  min-width: 160px;
  border: none;
  background-color: transparent;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}
.sort__menu:hover {
  opacity: 0.6;
}
.sort__menu:active {
  opacity: 0.3;
}
.sort__menu:focus-within {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.sort__menu:disabled {
  opacity: 0.1;
}

.sort__button-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.sort__button {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.sort__button:focus-visible {
  outline: 2px solid #af4fff;
}
.sort__button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid rgba(0, 0, 0, 0.3);
}

.sort__button:hover::before {
  border-bottom: 11px solid rgba(0, 0, 0, 0.6);
}

.sort__button:active::before {
  border-bottom: 11px solid black;
}

.sort__button--descending {
  margin-left: 3px;
  transform: rotate(180deg);
}

.card__link {
  position: relative;
  display: grid;
  grid-template-columns: minmax(130px, 207px) 1fr;
  grid-template-rows: 380px 40px;
  row-gap: 32px;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
  text-decoration: none;
}
.card__link::before {
  content: none;
}
.card__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.card__link:hover .card__image-wrapper::after {
  content: "Подробнее";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 220px;
  height: 20px;
  margin: auto;
  background: linear-gradient(transparent 3px, #ffe17f 3px, #ffe17f 11px, transparent 11px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}

.card__link:hover .card__name,
.card__link:hover .card__price,
.card__link:hover .card__image {
  opacity: 0.6;
}

.card__link:active .card__image-wrapper::after {
  background: linear-gradient(transparent 3px, #ffc700 3px, #ffc700 11px, transparent 11px);
}

.card__link:active .card__name,
.card__link:active .card__price,
.card__link:hover .card__image {
  opacity: 0.3;
}

.card--new .card__image-wrapper::before {
  content: "NEW";
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 3.5px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.card__image-wrapper {
  position: relative;
  display: block;
  grid-column: 1/3;
  grid-row: 1/2;
}

.card__name {
  grid-column: 1/2;
  grid-row: 2/3;
}

.card__price {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: end;
  color: #444444;
}

.pagination {
  margin: 0 40px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
}

.pagination__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.pagination__item {
  position: relative;
}
.pagination__item::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  outline-offset: 2px;
  outline: 2px solid #af4fff;
  opacity: 0;
}

.pagination__item--active .pagination__link {
  opacity: 0.6;
}

.pagination__button {
  padding: 25px;
  display: block;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination__button:hover {
  background-color: #C4C4C4;
}
.pagination__button:active {
  color: rgba(0, 0, 0, 0.3);
}
.pagination__button:focus, .pagination__button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.pagination__button--previous {
  margin-right: auto;
}
.pagination__button--next {
  margin-left: auto;
}
.pagination__button--first-page, .pagination__button--last-page {
  visibility: hidden;
}

.pagination__link {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  text-align: center;
  text-decoration: none;
}
.pagination__link:hover {
  opacity: 1;
}
.pagination__link:active {
  opacity: 0.1;
}
.pagination__link:focus-visible {
  outline: none;
}

.pagination__item:has(.pagination__link:focus-visible)::before {
  opacity: 1;
}

.footer {
  width: 100%;
  margin-top: auto;
  background-color: #444444;
}

.footer__background-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer__container {
  margin-top: 26px;
  margin-bottom: 47px;
  display: flex;
}

.footer__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 1px;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer__address {
  margin-right: 117px;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.footer-list__item:not(:last-child) {
  margin-right: 32px;
}

.footer-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.footer-list__link {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-list__link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}
.footer-list__link:active {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 0.3;
}
.footer-list__link:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.footer__phone {
  margin-left: auto;
  align-self: center;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #fff;
  text-decoration: underline;
}
.footer__phone:hover {
  color: #ffc700;
}
.footer__phone:active {
  color: #ffc700;
  opacity: 0.3;
}
.footer__phone:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.footer__copyright {
  display: flex;
}

.footer__copyright:hover path {
  fill: white;
}

.footer__copyright:active path {
  fill: white;
  opacity: 0.3;
}

.footer__copyright:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.socials-list {
  margin: 0 auto;
  margin-right: 391px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.socials-list__item:not(:last-child) {
  margin-right: 15px;
}

.socials-list__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-list__link:hover {
  background-color: #ffc700;
}
.socials-list__link:active {
  background-color: #ffc700;
  opacity: 0.3;
}
.socials-list__link:focus-visible {
  outline: none;
}

.socials-list__item:has(.socials-list__link:focus-visible) {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
}
.modal--active {
  display: block;
}

.modal__content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 920px;
  height: 568px;
  margin: auto;
  padding: 62px 70px;
  border: 10px solid #000;
  background-color: #fff;
}

.modal__wrapper {
  margin-bottom: 42px;
  display: flex;
  align-items: center;
}

.modal__heading {
  margin: 0;
  margin-right: auto;
  color: #000;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.modal__close-button {
  position: relative;
  width: 26px;
  height: 26px;
  padding: 12px;
  border: none;
  background: transparent url("../../images/content/close.svg");
  cursor: pointer;
}
.modal__close-button:hover {
  opacity: 0.6;
}
.modal__close-button:active {
  opacity: 0.3;
}
.modal__close-button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.delivery-form__form-wrapper {
  margin-bottom: 42px;
  display: grid;
  grid-template-rows: 114px 94px;
  row-gap: 42px;
  column-gap: 40px;
  align-items: end;
}

.delivery-form__container {
  display: flex;
  flex-direction: column;
}

.delivery-form__container--name {
  grid-column: 1/3;
}

.delivery-form__container--email {
  grid-column: 3/5;
  justify-self: end;
}

.delivery-form__container--product {
  grid-column: 1/4;
}

.delivery-form__container--quantity {
  position: relative;
  grid-column: 4/5;
}

.delivery-form__label {
  display: block;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #000;
}

.delivery-form__input {
  height: 60px;
  margin-top: 14px;
  padding: 20px;
  border: none;
  background-color: #f0f0f0;
  display: block;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}
.delivery-form__input::placeholder {
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  opacity: 0.3;
}
.delivery-form__input:hover {
  background-color: #C4C4C4;
}
.delivery-form__input:focus {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.delivery-form__input:disabled {
  opacity: 0.3;
}
.delivery-form__input--error {
  border: 2px solid #ff3d3d;
}

.delivery-form__input--error ~ .delivery-form__input-state {
  color: #ff3d3d;
}

.delivery-form__input--name,
.delivery-form__input--email {
  width: 360px;
}

.delivery-form__input--name {
  background: #f0f0f0 url("../../images/decorative/modal-auth.svg") no-repeat 326px 24px;
}

.delivery-form__input--email {
  background: #f0f0f0 url("../../images/decorative/mail.svg") no-repeat 325px 24px;
}

.delivery-form__input--product {
  width: 540px;
}

.delivery-form__input-wrapper {
  position: relative;
  display: flex;
  align-items: end;
}

.delivery-form__input--quantity::-webkit-inner-spin-button,
.delivery-form__input--quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.delivery-form__input--quantity {
  width: 60px;
  -moz-appearance: none;
  text-align: center;
}

.delivery-form__button {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 22px 20px 22px 20px;
  border: transparent;
}
.delivery-form__button:hover {
  opacity: 0.6;
}
.delivery-form__button:active {
  opacity: 0.3;
}
.delivery-form__button:focus-visible {
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}
.delivery-form__button:disabled {
  opacity: 0.1;
}

.delivery-form__button--increase::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 16px;
  height: 2px;
  margin: auto;
  background-color: #000;
}

.delivery-form__button--decrease::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 16px;
  height: 2px;
  margin: auto;
  background-color: #000;
}
.delivery-form__button--decrease::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 16px;
  height: 2px;
  margin: auto;
  background-color: #000;
  transform: rotate(90deg);
}

.delivery-form__info {
  position: absolute;
  top: -3px;
  right: 34px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ffe17f url("../../images/decorative/info.svg") no-repeat center;
  display: block;
}

.delivery-form__info-text {
  position: absolute;
  top: 33px;
  right: -35px;
  width: 200px;
  padding: 19px 17px 17px 19px;
  background-color: #000;
  display: none;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  z-index: 1;
}
.delivery-form__info-text::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 40px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #000;
}

.delivery-form__info:hover .delivery-form__info-text {
  display: block;
}

.delivery-form__input-state {
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}

.delivery-form__send-button {
  padding: 10px 30px;
}
/*# sourceMappingURL=styles.css.map */