@import "../_variables.scss";


.modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  z-index: 1;

  &--active {
    display: block;
  }
}

.modal {
  position: fixed;
  width: 920px;
  height: 568px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 62px 70px;
  border: 10px solid rgb(0, 0, 0);
  background-color: $white;
}

.modal__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}

.modal__heading {
  color: rgb(0, 0, 0);
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-right: auto;
}

.modal__close-button {
  position: relative;
  width: 26px;
  height: 26px;
  border: none;
  padding: 12px;
  background: transparent url('../../images/content/close.svg');
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 2px solid $purple;
  }
}
